<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>CheckLOD Dashboard</title>
<th:block th:replace="fragment/config ::configFragment"></th:block>
</head>
<body>
	<th:block th:replace="fragment/header ::headerFragment"></th:block>
	<th:block th:replace="fragment/nav ::navFragment"></th:block>
	<section>
		<div class="container">
			<div class="d-title">
				<h2>배송 목록</h2>
			</div>
			<div class="d-content">
				<div th:switch="${packages}">
					<h2 th:case="null">No Data yet!</h2>
					<div th:case="*">
						<div class="row">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr class="text-center">
											<th>날짜</th>
											<th>상품</th>
											<th>송장 번호</th>
											<th>상태</th>
											<th>프로브 온도</th>
											<th>최대 온도</th>
											<th>최소 온도</th>
											<th>운전자</th>
											<th>휴대전화</th>
											<th>차량번호</th>
											<th>디바이스</th>
										</tr>
									</thead>
									<tbody>
										<tr class="text-center" th:object="${package}"
											th:each="package : ${packages}">
											<td th:text="*{startDate}"></td>
											<td><a href="trip.html"
												th:href="@{'/reports/'+${package.tripId}}"
												th:text="*{tripId}">Trip List</a></td>
											<td th:text="*{invoiceId}"></td>
											<td th:text="*{goingStatus}"></td>
											<td th:text="*{proveTemp}"></td>
											<td th:text="*{maxTemp}"></td>
											<td th:text="*{minTemp}"></td>
											<td th:text="*{driverName}"></td>
											<td th:text="*{phoneNo}"></td>
											<td th:text="*{vehicleNo}"></td>
											<td th:text="*{loggerAlias}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block th:replace="fragment/footer ::footerFragment"></th:block>
</body>
</html>

