
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="description" content="Welcome to jiniworld!">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CheckLOD Dashboard</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link
	href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&amp;subset=korean"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/common.css}" />
<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
	href="/static/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60"
	href="/static/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="/static/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76"
	href="/static/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="/static/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120"
	href="/static/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144"
	href="/static/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152"
	href="/static/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180"
	href="/static/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"
	href="/static/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="/static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="/static/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="/static/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- favicon -->
</head>
<body>
	<header>
		<a th:href="@{/index}"><img th:src="@{/static/img/originlogo.png}"
			width="230" height="auto" alt="demo page" id="btn_home" /></a>
		<ul>
			<li sec:authorize="isAuthenticated()"><span
				sec:authentication="principal.username"></span> 님 반가워요!</li>
			<li><form id="logoutFrm" th:action="@{/logout}" method="post"
					style="display: inline-block;">
					<a href="#" onclick="document.getElementById('logoutFrm').submit()"
						data-toggle="tooltip" data-placement="logout" title="Logout"><i
						class="fa fa-power-off"></i></a>
				</form></li>
		</ul>
	</header>
	<section>
		<div class="container">
			<div th:switch="${trip}">
				<h2 th:case="null">No Data yet!</h2>
				<div th:case="*">
					<h2 th:text="${trip.tripId}"></h2>
					<div th:object="${trip}">
						<section>
							<div th:text="'최고 온도 : '+*{reportSummary.maxTemp}+'℃'"></div>
							<div th:text="'최저 온도 : '+*{reportSummary.minTemp}+'℃'"></div>
							<div th:text="'기록시간 : '+${duration}"></div>
							<div th:text="'경고 누적 : '+*{reportSummary.alarmCount}+'회'"></div>
							<div th:text="'배터리 잔량 : '+*{reportSummary.batteryPower}+'%'"></div>
							<!-- <div th:text="'디바이스 : '+*{devieInfo.alarm}"></div> -->
							<div th:text="'운전자 : '+*{driverName}"></div>
							<div th:text="'전화번호 : '+*{phoneNo}"></div>
							<div th:text="'차량번호 : '+*{vehicleNo}"></div>
							<div th:text="'디바이스 : '+*{loggerAlias}"></div>
						</section>
					</div>
					<section>
						<canvas id="chart" height="450" width="600"></canvas>
					</section>
					<section>
						<div th:switch="${trip}">
							<h2 th:case="null">No Data yet!</h2>
							<div th:case="*">
								<div class="row">
									<div class="table-responsive">
										<div th:switch="${trip.listTemp}">
											<h2 th:case="null">No Data yet!</h2>
											<div th:case="*">
												<table class="table table-striped">
													<thead>
														<tr class="text-center">
															<th>No</th>
															<th>Date/Time</th>
															<th>℃</th>
														</tr>
													</thead>
													<tbody>
														<tr class="text-center" th:object="${pointTemp}"
															th:each="pointTemp, pointStat : ${trip.listTemp}">
															<td th:text="${pointStat.count}"></td>
															<td th:text="*{point}"></td>
															<td th:text="*{proveTemp}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section th:each="mediaInfo : ${trip.listMedia}">
						<th:block th:switch="${mediaInfo.imgType}">
							<div th:case="'A'" th:text="송장"></div>
							<div th:case="'B'" th:text="영수증"></div>
							<div th:case="Z" th:text="기타"></div>
							<div th:case="null" th:text="촬영된 사진이 없습니다."></div>
						</th:block>
						<div>
							<img th:src="${mediaInfo.imgUrl}" width="70%" height="70%"></img>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<p>CheckLOD - ProtoType</p>
	</footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
	<script>
		var chartLabels = [];
		var chartData = [];
		var tripId = window.location.pathname.split("/")[2];

		$
				.getJSON("http://localhost:8080/report-chart/" + tripId,
						function(data) {
							$.each(data, function(inx, obj) {
								chartLabels.push(obj.point.toLocaleString());
								chartData.push(obj.proveTemp);
							});
							createChart();
							console.log("create Chart");
							console.log(data);
							console.log("http://localhost:8080/report-chart/"
									+ tripId);
						});

		var lineChartData = {
			labels : chartLabels,
			datasets : [ {
				label : "int_temp",
				fillColor : "rbga(151,187,205,0.2)",
				strokeColor : "rbga(151,187,205,1)",
				pointColor : "rbga(151,187,205,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rbga(151,187,205,1)",
				data : chartData
			} ]
		};

		function createChart() {
			var ctx = document.getElementById("chart").getContext("2d");
			LineChartDemo = Chart.Line(ctx, {
				data : lineChartData,
				options : {
					scales : {
						xAxes : [ {
							type : 'time',
							time : {
								unit : 'minute',
								displayFormats : {
									'millisecond' : 'hh:mm',
									'second' : 'hh:mm',
									'minute' : 'DD/MM/YYYY hh:mm',
									'hour' : 'hh:mm',
									'day' : 'hh:mm',
									'week' : 'hh:mm',
									'month' : 'hh:mm',
									'quarter' : 'hh:mm',
									'year' : 'hh:mm',
								}
							},
						} ],
						yAxes : [ {
							ticks : {
								beginAtZero : true
							}
						} ]
					}
				}
			})
		};
	</script>
</body>
</html>